


.form-title {
 text-align: center;
 font-size: 35px;
 font-weight: bold;   
 font-family: Arial, Helvetica, sans-serif;
 text-shadow: 10px 10px 5px grey;
}

body {
    background-color: rgb(247, 243, 243);
}

.name-input,
.last-name-input {
    width: 30%;
    padding: 18px 20px;
    margin: 8px 1px;
    font-size: 25px;
    text-align: center;
}

name-input:focus,
.last-name-input:focus {
    outline: none;
    border: 2px solid rgb(150, 69, 69);
}